<div class="container-xxl container-p-y">
  <div class="misc-wrapper">
    <div class="image-container mb-4">
      <img
        src="/assets/img/bg/404.jpg"
        alt="page-non-trouvée"
        class="img-fluid error-image"
      />
    </div>
    <div class="text-content">
      <h1 class="mb-2 mx-2">404</h1>
      <h4 class="mb-2 mx-2">Page non trouvée ⚠️</h4>
      <p class="mb-4 mx-2">
        Nous n'avons pas pu trouver la page que vous recherchez
      </p>
      <a routerLink="/" class="btn btn-primary">Retour à l'accueil</a>
    </div>
  </div>
</div>
