<header class="header">
  <div class="header-overlay">
    <div class="container">
      <h1 data-aos="zoom-in">Création d'entreprise</h1>
      <p class="text-white">
        Nos experts-comptables à Bruxelles se tiennent à vos côtés pour vous
        accompagner et vous conseiller sur tous les aspects de votre
        comptabilité.
      </p>
    </div>
  </div>
</header>

<div
  class="container-fluid py-5 bg-light-gray"
  data-aos="fade-up"
  data-aos-duration="1000"
>
  <div class="container">
    <div class="row align-items-center">
      <div
        class="col-lg-6 mb-4 mb-lg-0"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        <div class="position-relative">
          <div class="card border-0 shadow-lg overflow-hidden">
            <img
              src="../../../assets/img/webp/image_service_creation_page_mfin (1).webp"
              alt="Réunion d'affaires"
              class="img-fluid"
            />
          </div>
          <div
            class="position-absolute bottom-0 end-0 bg-white p-3 shadow rounded-3 mb-3 me-3"
            data-aos="zoom-in"
            data-aos-duration="800"
          >
            <div class="d-flex align-items-center">
              <i class="fas fa-chart-line text-primary fs-4 me-2"></i>
              <span class="fw-bold">Expert en création d'entreprise</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6" data-aos="fade-left" data-aos-duration="1000">
        <div class="ps-lg-4">
          <h6
            class="text-red mb-3"
            data-aos="fade-right"
            data-aos-duration="800"
          >
            CRÉATION D'ENTREPRISE
          </h6>

          <h1
            class="fw-bold text-navy mb-4"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            Lancez Votre Entreprise Sur Des Bases Solides
          </h1>

          <p
            class="text-muted mb-4"
            data-aos="fade-up"
            data-aos-duration="1200"
          >
            Lors du lancement de votre entreprise, l’élaboration d’un plan
            financier solide et le choix de la forme juridique appropriée sont
            des étapes cruciales. Notre rôle est de vous accompagner tout au
            long de ces processus essentiels.
          </p>

          <div
            class="card border-0 home2-about shadow-sm mb-4"
            data-aos="fade-up"
            data-aos-duration="1400"
          >
            <div class="card-body p-4">
              <h5 class="card-title mb-3 text-white">
                <i class="fas fa-file-invoice-dollar text-custom me-2"></i>
                L'Établissement du Plan Financier
              </h5>
              <p class="card-text mb-0 text-white">
                Nous collaborons avec vous pour établir un plan financier
                détaillé et robuste. Ce plan inclut des prévisions de revenus,
                des estimations de coûts, des analyses des flux de trésorerie,
                et d’autres paramètres financiers essentiels. Chaque élément de
                ce plan est soigneusement expliqué et justifié. Nous nous
                assurons que vous compreniez parfaitement tous les aspects, de
                la projection des ventes aux estimations des coûts
                opérationnels.
              </p>
            </div>
          </div>

          <p
            class="text-muted mb-4"
            data-aos="fade-up"
            data-aos-duration="1600"
          >
            Chaque aspect de ce plan est soigneusement motivé et expliqué. Nous
            veillons à ce que vous compreniez tous les éléments, de la
            projection des ventes aux estimations des coûts opérationnels.
          </p>

          <div
            class="d-grid gap-2 d-md-flex justify-content-md-start"
            data-aos="zoom-in"
            data-aos-duration="1000"
          >
            <button
              class="btn btn-custom-red btn-lg px-5 py-3 d-inline-flex align-items-center"
              routerLink="/contact"
            >
              Contactez-nous
              <i class="fas fa-arrow-right ms-2"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section
  class="legal-services position-relative py-6"
  data-aos="fade-up"
  data-aos-duration="1000"
>
  <div class="container">
    <div class="row align-items-center gy-5">
      <div class="col-lg-6" data-aos="fade-right" data-aos-duration="1000">
        <h2 class="fw-bold mb-4">Le Choix De<br />La Forme Juridique</h2>
        <div class="content-wrapper">
          <div
            class="rounded-4 mb-4"
            data-aos="fade-up"
            data-aos-duration="800"
          >
            <p>
              Nous évaluons avec vous les différentes options de structure
              juridique (entreprise individuelle, société à responsabilité
              limitée, société anonyme, etc.) et vous conseillons sur le choix
              le plus adapté à votre projet d'entreprise.
            </p>
          </div>
          <div
            class="alert home2-about border-start mb-4"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            <div class="d-flex">
              <div class="me-3 text-custom">
                <i class="fas fa-info-circle"></i>
              </div>
              <p class="mb-0 text-white">
                NB : Cette décision est déterminante en raison de son impact sur
                la fiscalité, la responsabilité légale, les exigences
                administratives et d'autres éléments clés de votre entreprise.
              </p>
            </div>
          </div>
          <div
            class="assistanc mb-3"
            data-aos="fade-up"
            data-aos-duration="1200"
          >
            <div class="section-title d-flex align-items-center mb-3">
              <h3 class="h4 text-danger mb-0">
                L'Assistance lors du Passage de l'Acte Authentique
              </h3>
            </div>
            <p class="mb-4">
              Lors de la formalisation de la création de votre entreprise, nous
              agissons en tant qu'intermédiaires entre vous et les différents
              intervenants (notaires, avocats, etc.).
            </p>
            <p class="mb-0">
              Notre assistance lors de la signature de l'acte authentique
              garantit que toutes les formalités sont correctement remplies,
              assurant ainsi un processus fluide et sans encombre.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6" data-aos="fade-left" data-aos-duration="1000">
        <div class="image-wrapper position-relative ms-lg-4">
          <div class="img-background position-absolute"></div>
          <div
            class="rounded-4 overflow-hidden shadow-lg position-relative"
            data-aos="zoom-in"
            data-aos-duration="800"
          >
            <img
              src="../../../assets/img/webp/image_service_creation2_page_mfi.webp"
              alt="Business consultation"
              class="img-fluid w-100"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shape-overlay position-absolute"></div>
</section>

<app-zone-contact></app-zone-contact>
