
    <div class="footer-container">
      <div class="footer-content">
        <div class="contact-section">
          <p><i class="fas fa-map-marker-alt"></i> 20 Rue de la Magnanerie</p>
          <p>à 1180 Uccle</p>
          <p class="tap-info">
            <i class="fas fa-phone"></i>
            <a href="tel:+3228838686" style="text-decoration: none;">+32 2 886 05 50</a>
          </p>
          <p class="tap-info">
            <i class="fas fa-envelope"></i>
            <a href="mailto:info@mfinances.be" style="text-decoration: none;">info&#64;mfinances.be</a>
          </p>
          <div class="social-links">
            <a href="https://www.facebook.com/mfinancessrl/" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.linkedin.com/company/mfinancessrl/" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://www.youtube.com/@mfinances4354" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
            <a href="https://www.tiktok.com/@mfinances8?lang=fr" aria-label="TikTok"><i class="fab fa-tiktok"></i></a>
            <a href="https://twitter.com/InfoMfinances" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/mfinances_expertcomptable/" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
    
        <div style="width:150px;">
          <h3 class="section-title">À PROPOS</h3>
          <ul class="footer-links">
            <li><a href="/about">À propos</a></li>
            <li><a href="/services">Nos services</a></li>
            <li><a href="/tarif">Nos tarifs</a></li>
          </ul>
        </div>
    
        <div style="width:250px;">
          <h3 class="section-title">LIENS UTILES</h3>
          <ul class="footer-links">
            <li><a href="/salarie-independant">Boostez votre entreprise</a></li>
            <li><a href="https://get.anydesk.com/dzQb9eHl/AnyDesk_Custom_Client.exe">Support pour Windows</a></li>
            <li><a href="https://get.anydesk.com/U2eK2Jqz/AnyDesk_Custom_Client.dmg">Support pour Mac</a></li>
            <li><a href="/contact">Contactez-nous</a></li>
          </ul>
        </div>
    
        <div>
          <h3 class="section-title">NEWSLETTER</h3>
          <p>Abonnez-vous pour ne rien manquer de notre newsletter.</p>
          <input type="email" class="newsletter-input" placeholder="Adresse e-mail">
          <button class="subscribe-button">S'abonner</button>
        </div>
      </div>
    
      <div class="bottom-bar">
        <div class="bottom-bar-content">
          <p>Copyright © 2025 Mfinances S.R.L.</p>
          <div>
            <a href="#">Conditions générales</a>
            <span style="margin: 0 0.8rem; color: white;">•</span>
            <a href="#">Mentions légales</a>
          </div>
        </div>
      </div>
    </div>
    