.header {
  background: url("../../../assets/img/services/Background_Compta.png")
    no-repeat center center/cover;
  min-height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-overlay {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
}

.home2-about {
  background-color: #1a2c51;
}

a {
  text-decoration: none;
}
h1 {
  padding: 0;
}
.home2-hadding h1,
.home2-hadding p,
.home2-hadding li {
  color: #fff;
}

.expert-text {
  font-size: 1em; /* Ajustez la taille selon vos besoins */
}

.text-red {
  color: #f34947; /* Rouge vif */
  font-style: italic;
}

.about-choose {
  background-color: #1a2c51;
}

.font-red {
  background-color: #f34947;
  border-radius: 8px;
  padding: 2px;
}
