.header {
  background: url("../../../assets/img/services/Background_service.jpg")
    no-repeat center center/cover;
  min-height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-overlay {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
}
