<div class="home2-about sec-padding">
  <div class="container gap-4">
    <div class="row align-items-center">
      <div class="col-lg-6" data-aos="flip-left" data-aos-duration="800">
        <div class="home2-about-img">
          <img src="assets/img/image/image-MIKA.png" alt="">
<!--          <div class="home2-about-text">-->
<!--            <div class="home2-about-after">-->
<!--              <p>“Take your life to Financial Consultant Around The World to a-->
<!--                e next level with Rise, built-in financial consultation with our a an expert with 10+ years of experience emitters according.”</p>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-left" data-aos-duration="800">
        <div class="home2-hadding home2-hadding-p hadding-span home2-padding-after">
          <p class="expert-text">
            <span class="text-red">NOTRE EXPERT-COMPTABLE, </span>
            <span class="text-white">Mika </span> <span class="text-red">MUSUNGAYI</span>
          </p>
          <h1 >Fondateur, Expert-comptable, <span class="after">  Spécialiste en fiscalité </span> <br></h1>
          <p style="font-size: 18px">Diplômé de la Chambre Belge des Comptables, Experts-Comptables et Conseils Fiscaux, il a rejoint l'entreprise en 2003 et compte plus de 20 ans d'expérience à son actif.</p>
        </div>
        <div class="space10"></div>
        <div class="home2-about-list d-flex flex-column gap-3 mb-3 text-light" style="font-size: 18px">
            <span>
              <i class="fas fa-check-circle text-danger"></i> Expert en structures économiques
            </span>
            <span>
              <i class="fas fa-check-circle text-danger"></i>  Spécialiste de l'optimisation fiscale
            </span>
            <span>
             <i class="fas fa-check-circle text-danger"></i>  Gestion innovante des performances
            </span>
            <span>
             <i class="fas fa-check-circle text-danger"></i>  Optimisation des flux de trésorerie
            </span>
        </div>
        <div class="space10"></div>
        <div class="home2-btn">
          <a href="about.html" class="btn-red">Take Our Services <i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
