<!-- Header Desktop -->
<div class="header-container desktop-header">
  <div class="text-section">
    <h2>MFINANCES EXPERT COMPTABLE À BRUXELLES</h2>
    <h1>
      OPTIMISEZ <img src="assets/img/image/h10_hero_title_arrow.jpg" alt="Arrow"> VOTRE ENTREPRISE AVEC <br> DES EXPERTS
    </h1>
    <p>
      Vous êtes entrepreneur ou responsable d'une association et vous cherchez un expert-comptable pour vous accompagner au quotidien ? 
      Notre cabinet d'experts-comptables et de fiscalistes basé à Bruxelles est à votre disposition pour des services de comptabilité et de fiscalité.
    </p>
    <a href="#" class="btn">En savoir plus &rarr;</a>
  </div>
  <div class="image-section">
    <img src="assets/img/bg/Group_header.jpg" alt="Header Image" class="background-image">
  </div>
</div>

<!-- Header Mobile -->
<div class="header-container mobile-header">
  <div class="card">
    <div class="image-section">
      <img src="assets/img/bg/Group_header.jpg" alt="Header Image" class="background-image">
      <div class="overlay"></div>
    </div>
    <div class="text-section">
      <h2>MFINANCES EXPERT COMPTABLE À BRUXELLES</h2>
      <h1>
        OPTIMISEZ VOTRE ENTREPRISE AVEC <br> DES EXPERTS
      </h1>
      <p>
        Vous êtes entrepreneur ou responsable d'une association et vous cherchez un expert-comptable pour vous accompagner au quotidien ? 
        Notre cabinet d'experts-comptables et de fiscalistes basé à Bruxelles est à votre disposition pour des services de comptabilité et de fiscalité.
      </p>
      <a href="#" class="btn">En savoir plus &rarr;</a>
    </div>
  </div>
</div>
