<section>
  <div class="card">
    <div class="header-content">
      <div class="text-content">
        <p class="company-tag">MFINANCES EXPERT COMPTABLE À BRUXELLES</p>
        <h1 class="main-heading">
          Des experts-comptables pour optimiser vos finances, simplement.
        </h1>
        <div class="cta-buttons">
          <a  routerLink="/contact" class="cta-button primary"
            >📞 Demander un appel gratuit</a
          >
          <a href="about" class="cta-button secondary">En savoir plus →</a>
        </div>
      </div>
      <div class="image-section">
        <img
          src="assets/img/bg/Group_header_m.webp"
          srcset="
            assets/img/bg/Group_header_s.webp  480w,
            assets/img/bg/Group_header_m.webp  768w,
            assets/img/bg/Group_header_l.webp 1200w
          "
          sizes="(max-width: 767px) 100vw, (max-width: 1199px) 60vw, 50vw"
          alt="Expert comptable professionnel"
          class="expert-image"
          loading="eager"
          fetchpriority="high"
          width="800"
          height="600"
          decoding="sync"
        />
      </div>
    </div>
  </div>
</section>
