<app-header-about></app-header-about>
<div class="about-page-about-sec sec-padding " >
    <div class="container" >
      <div class="row align-items-center " style="display: flex; justify-content: center;">
        <div class="col-md-6">
            <div class="about-page-img-all">
              <div class="about-page-about-img1 img-border img100">
                <img src="../../assets/img/image/about-page-img-1.png" alt="">
              </div>
              <div class="space20"></div>
              <div class="row">
                <div class="col-md-6">
                  <div class="about-page-img-2 img-border img100">
                    <img src="../../assets/img/image/about-page-img-2.png" alt="">
                  </div>
                </div>
    
                <div class="col-md-6">
                  <div class="about-page-img-3 img-border img100 space-sm-30">
                    <img src="../../assets/img/image/about-page-img-3.png" alt="">
                  </div>
                </div>
    
              </div>
            </div>
          </div>
    
          <div class="col-md-6">
              <div class="about-haddings">
                <div class="hadding hadding-p space-sm-30">
                <p class="text-red">
                    <span class="text-red">Profil</span>
                </p>
                <!-- <span class="span">Who we Are</span> -->
                <h1>Experts-comptables<br> <span style="color: white; padding:8px; display:flex; align-items: center;">aggrégé à Bruxelles</span></h1>
                <p>Bienvenue chez MFinances Expert Comptable, votre cabinet comptable dédié à la réussite de votre entreprise. Nous offrons une gamme complète de services comptables et financiers conçus pour répondre à tous vos besoins. Notre objectif est de :</p>
              <div class="check-list-all" style="padding-top: 0px;">
                <div class="row">
                <div class="col-md-4">
                  <div class="chek-list">
                    <p><img src="assets/img/icons/checkfill.png" alt=""> Aider à la prise de décision</p>
                  </div>
                  <div class="space20"></div>
                  <div class="chek-list">
                    <p><img src="assets/img/icons/checkfill.png" alt=""> Anticiper l’avenir économique</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="chek-list">
                    <p><img src="assets/img/icons/checkfill.png" alt=""> Mettre en place des leviers simples et efficaces</p>
                  </div>
                  <div class="space20"></div>
                  <div class="chek-list">
                    <p><img src="assets/img/icons/checkfill.png" alt=""> Offrir des services d’optimisation des performaces</p>
                  </div>
                </div>
              </div>
              </div>
              <div class="home2-btn">
                <a href="about.html" class="btn-red">Contactez-nous <i class="fa-solid fa-arrow-right"></i></a>
              </div>
              </div>
            </div>
      </div>  
    </div>
</div>
</div>
<div class="about-choose sec-padding">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="hadding about-page-hadding hadding-p">
          <!-- <span class="span">Why Choose Us</span> -->
          <p class="text-red">
            <span class="text-red">Pourquoi nous choisir?</span>
        </p>
          <h1 class="text-white">L'excellence comptable <br> pour votre <span class="font-red"> réussite.</span></h1>
          <p class="text-white">Chez MFinances Expert Comptable nous vous apportons un soutien administratif pour pallier d'éventuelles omissions dans votre comptabilité, qui peuvent entraîner la perte de la déductibilité de certaines dépenses.</p>
          <div class="space20"></div>
          <p class="text-white"> Nous vous aidons à éviter des dépenses injustifiées, imputées au compte courant du gestionnaire, qui devraient autrement être remboursées. Notre équipe est déterminée à offrir des solutions sur mesure qui favorisent la croissance et l'efficacité de votre entreprise.</p>
          <div class="space30"></div>
          <!-- <div class="header-btn-1 button btn-after home1-button">
            <a href="#">Explore More About Us</a>
          </div> -->
        </div>
      </div>
      <div class="col-md-6 space-sm-50">
        <div class="about-choose-box">
          <div class="about-choose-icon">
            <img src="assets/img/image/about-choose-icon-1.png" alt="">
          </div>
          <div class="hadding hadding-p">
            <h4><a href="#">Assistance en gestion comptable</a></h4>
            <p>Correction des omissions pour préserver la déductibilité.</p>
          </div>
        </div>

        <div class="about-choose-box">
          <div class="about-choose-icon">
            <img src="assets/img/image/about-choose-icon-2.png" alt="">
          </div>
          <div class="hadding hadding-p">
            <h4><a href="#">Prévention des dépenses injustifiées</a></h4>
            <p>Éviter les erreurs liées au compte courant.</p>
          </div>
        </div>

        <div class="about-choose-box">
          <div class="about-choose-icon">
            <img src="assets/img/image/about-choose-icon-3.png" alt="">
          </div>
          <div class="hadding hadding-p">
            <h4><a href="#">Solutions personnalisées</a></h4>
            <p>Approches adaptées à vos besoins.</p>
          </div>
        </div>

        <div class="about-choose-box">
          <div class="about-choose-icon">
            <img src="assets/img/image/about-choose-icon-4.png" alt="">
          </div>
          <div class="hadding hadding-p">
            <h4><a href="#">Soutien à la croissance</a></h4>
            <p>Optimisation pour développer votre activité.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="our-vision sec-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto text-center">
        <div class="haddingg">
          <p class="text-red">
            <span class="text-red">Notre Vision</span>
        </p>
          <h1>Nous examinons vos déclarations fiscales pour créer une stratégie fiscale <span class="font-red text-white"> formelle</span></h1>
        </div>
      </div>
      <div class="space-30"></div>
      <div class="row">
        <div class="col-md-6 col-lg-3 text-center">
          <div class="about-vision-box box-after">
            <div class="about-vision-img">
              <img src="assets/img/image/about-vision-icon-1.png" alt="">
            </div>
            <div class="space20"></div>
            <div class="hadding hadding-p">
            <h4><a href="#">Consultation fiscale de <br> meilleure qualité</a></h4>
            <div class="space10"></div>
            <p>WNous préparons les déclarations de revenus fédérales et étatiques pour les petites entreprises.</p>
          </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 text-center">
          <div class="about-vision-box box-after">
            <div class="about-vision-img">
              <img src="assets/img/image/about-vision-icon-2.png" alt="">
            </div>
            <div class="space20"></div>
            <div class="hadding hadding-p">
            <h4><a href="#">Service client disponible 24h/24 et 7j/7</a></h4>
            <div class="space10"></div>
            <p>Nous préparons les déclarations de revenus fédérales et étatiques pour les petites entreprises.</p>
          </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 text-center">
          <div class="about-vision-box box-after">
            <div class="about-vision-img">
              <img src="assets/img/image/about-vision-icon-3.png" alt="">
            </div>
            <div class="space20"></div>
            <div class="hadding hadding-p">
            <h4><a href="#">Récompenses prestigieuses au niveau mondial</a></h4>
            <div class="space10"></div>
            <p>Nous préparons les déclarations de revenus fédérales et étatiques pour les petites entreprises.</p>
          </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 text-center">
          <div class="about-vision-box box-after">
            <div class="about-vision-img">
              <img src="assets/img/image/about-vision-icon-4.png" alt="">
            </div>
            <div class="space20"></div>
            <div class="hadding hadding-p">
            <h4><a href="#">Processus de consultation simple et efficace</a></h4>
            <div class="space10"></div>
            <p>Nous avons un processus clair et efficace pour accompagner votre entreprise vers la réussite financière.</p>
          </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<app-zone-contact></app-zone-contact>