<!-- blog.component.html -->

<div class="blog sec-padding">
  <div class="container">
    <!-- Titre de la Section -->
    <div class="row">
      <div class="col-md-8 m-auto text-center">
        <div class="heading">
          <p class="text-red">
            <span>Podcast</span>
          </p>
          <h1>Découvrez nos podcasts d’apprentissage</h1>
        </div>
      </div>
    </div>

    <!-- Cartes de Podcast -->
    <div class="row">
      <!-- Card 1 -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="blog-box">
          <!-- Façade Vidéo -->
          <div
            class="blog-video facade"
            (click)="onPlayVideo('ID_VIDEO_1', card1)"
            #card1
          >
            <!-- Image de Prévisualisation -->
            <img
              src="https://img.youtube.com/vi/ID_VIDEO_1/hqdefault.jpg"
              alt="Podcast #1"
              class="facade-image"
            />
            <!-- Bouton de Lecture -->
            <div class="facade-play-btn">
              <i class="fas fa-play"></i>
            </div>
          </div>

          <!-- Contenu du Blog -->
          <div class="blog-content">
            <h2><a href="blog.html">Liste des frais déductibles pour les architectes</a></h2>
            <p>Quels frais professionnels pouvez-vous déduire en tant qu’architecte ? ...</p>
            <div class="read-more">
              <a href="#" class="read-more-link">
                Lire plus
                <span class="arrow-circle">
                  <i class="fas fa-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Répétez les cartes 2 et 3 de manière similaire -->
      <!-- Card 2 -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="blog-box">
          <div
            class="blog-video facade"
            (click)="onPlayVideo('ID_VIDEO_2', card2)"
            #card2
          >
            <img
              src="https://img.youtube.com/vi/ID_VIDEO_2/hqdefault.jpg"
              alt="Podcast #2"
              class="facade-image"
            />
            <div class="facade-play-btn">
              <i class="fas fa-play"></i>
            </div>
          </div>
          <div class="blog-content">
            <h2><a href="blog2.html">Facturation électronique via PEPPOL : obligatoire ...</a></h2>
            <p>En tant qu’entreprise, vous êtes libre de facturer ...</p>
            <div class="read-more">
              <a href="#" class="read-more-link">
                Lire plus
                <span class="arrow-circle">
                  <i class="fas fa-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="blog-box">
          <div
            class="blog-video facade"
            (click)="onPlayVideo('ID_VIDEO_3', card3)"
            #card3
          >
            <img
              src="https://img.youtube.com/vi/ID_VIDEO_3/hqdefault.jpg"
              alt="Podcast #3"
              class="facade-image"
            />
            <div class="facade-play-btn">
              <i class="fas fa-play"></i>
            </div>
          </div>
          <div class="blog-content">
            <h2><a href="blog.html">Travailler comme indépendant complémentaire pour mon employeur...</a></h2>
            <p>Imaginons : vous êtes indépendant à titre complémentaire ...</p>
            <div class="read-more">
              <a href="#" class="read-more-link">
                Lire plus
                <span class="arrow-circle">
                  <i class="fas fa-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bouton Voir Plus au Centre -->
    <div class="row">
      <div class="col-12 text-center mt-4">
        <div class="home2-btn">
          <a href="about.html" class="btn-red">Voir plus <i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
