<div class="blog sec-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto text-center">
        <div class="hadding hadding-p">
          <p class="text-red">
            <span class="text-red">Podcast</span>
          </p>
          <h1>Découvrez nos podcasts d’apprentissage</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Card 1 -->
      <div class="col-md-6 col-lg-4">
        <div class="blog-box">
          <div class="blog-video">
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/ID_VIDEO_1" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="blog-content">
            <h2><a href="blog.html">Liste des frais déductibles pour les architectes</a></h2>
            <p>Quels frais professionnels pouvez-vous déduire en tant qu’architecte ? Outre les frais déductibles communs à...</p>
            <div class="read-more">
              <a href="#" class="read-more-link">
                Lire plus
                <span class="arrow-circle">
                  <i class="fas fa-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-md-6 col-lg-4">
        <div class="blog-box">
          <div class="blog-video">
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/ID_VIDEO_2" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="blog-content">
            <h2><a href="blog2.html">Facturation électronique via PEPPOL : obligatoire pour les indépendants</a></h2>
            <p>En tant qu’entreprise, vous êtes libre de facturer de la manière qui vous convient, tant...</p>
            <div class="read-more">
              <a href="#" class="read-more-link">
                Lire plus
                <span class="arrow-circle">
                  <i class="fas fa-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-md-6 col-lg-4 ">
        <div class="blog-box">
          <div class="blog-video">
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/ID_VIDEO_3" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="blog-content">
            <h2><a href="blog.html">Travailler comme indépendant complémentaire pour mon employeur, est-ce permis ?</a></h2>
            <p>Imaginons : vous êtes indépendant à titre complémentaire et votre employeur vous propose une mission en...</p>
            <div class="read-more">
              <a href="#" class="read-more-link">
                Lire plus
                <span class="arrow-circle">
                  <i class="fas fa-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bouton Voir Plus au centre -->
    <div class="row">
      <div class="col-12 text-center mt-4">
        <div class="home2-btn">
          <a href="about.html" class="btn-red">Voir plus <i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
