<header class="header">
    <div class="header-overlay">
        <div class="container">
            <span style="color: red; font-size: 16px;">BIENVENUE À MFINANCES EXPERT COMPTABLE À BRUXELLES</span>
            <h1 class="text-white " style="font-size: 64px; font-weight: 600;"> Créer votre entreprise,<br>
                Le passage en société</h1>
            <p class="text-white mt-3">
                Déverrouiller le potentiel de votre entreprise : Le grand saut de l'individuel à la société.
            </p>
        </div>
    </div>
</header>
<div class="video-promotion-section">
    <div class="content-container">
      <!-- Video Side -->
      <div class="video-side">
        <div class="video-tag">
          <i class="fas fa-play-circle"></i>
          REGARDEZ LA VIDÉO SUR CETTE PAGE
        </div>
        
        <div class="video-container">
          <img src="../../assets/img/thumbnail.jpg" alt="Thumbnail vidéo" class="video-thumbnail">
          <button class="play-button">
            <i class="fas fa-play"></i>
          </button>
          <div class="video-duration">02:22</div>
        </div>
      </div>
  
      <!-- Text Side -->
      <div class="text-side">
        <h2 class="title">Réduisez vos impôts et maximisez vos gains dès <span class="highlight">45 000 € de revenu imposable</span></h2>
        
        <div class="content-text">
          <p class="intro">
            Découvrez comment l'optimisation fiscale peut 
            <span class="text-accent">transformer vos finances à partir d'un revenu imposable de 45 000 €</span>.
          </p>
          
          <p class="benefits">
            En optant pour la création d'une société, vous pouvez réduire considérablement votre charge fiscale et faire fructifier votre capital plus efficacement.
          </p>
          
          <div class="features-section">
            <div class="feature-card">
              <div class="icon-wrapper">
                <i class="fas fa-brain"></i>
              </div>
              <div class="feature-content">
                <h3>Apprenez les meilleures stratégies</h3>
                <p>pour développer votre patrimoine tout en respectant les cadres légaux.</p>
              </div>
            </div>
          
            <div class="feature-card">
              <div class="icon-wrapper">
                <i class="fas fa-arrow-trend-up"></i>
              </div>
              <div class="feature-content">
                <h3> Maximisez vos revenus et atteignez vos objectifs financiers grâce aux conseils fiscaux de votre expert-comptable.</h3>
                <p> <strong>Ne laissez pas vos impôts freiner votre croissance :</strong> 
                    adoptez une approche intelligente pour booster votre succès.</p>
              </div>
            </div>
          </div>

  
          <a href="#" class="cta-button">
            Prenez rendez-vous
            <i class="fas fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="business-section">
    <div class="container2">
      <!-- Contenu textuel -->
      <div class="content-side">
        <h2 class="title">Les raisons d'envisager<br>le passage en société</h2>
        
        <div class="content">
          <p>
            <span class="highlight">Passer en société est une étape</span> significative pour tout entrepreneur, 
            <span class="highlight">marquant une véritable évolution de son activité</span>.
          </p>
          
          <p>
            Toutefois, cette décision est souvent accompagnée de préoccupations concernant 
            l'augmentation des charges administratives, la nécessité de justifier chaque 
            transaction, des coûts de fonctionnement plus élevé, et l'obligation pour le 
            dirigeant de se conformer à des règles strictes pour gérer la trésorerie de l'entreprise.
          </p>
  
          <button class="cta-button">
            Lancer votre procédure
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </div>
  
      <!-- Image side -->
      <div class="image-side">
        <img src="../../../assets/img/vente/img_passage_en_societe1.webp" alt="Entrepreneur travaillant" class="feature-image">
      </div>
    </div>
  </div>

  <div class="business-section">
    <div class="container2">

        <div class="image-side">
            <img src="../../../assets/img/vente/avantage_passage_en_societe_mfin.webp" alt="Entrepreneur travaillant" class="feature-image">
          </div>
            
      <!-- Contenu textuel -->
      <div class="content-side">
        <h2 class="title">Les avantages du passage en société</h2>
        
        <div class="content">
          
          <p>
            En choisissant de passer en société, vous avez compris  <span class="highlight">que vous pouvez non seulement réduire votre pression fiscale en bénéficiant d'un taux d'imposition plus avantageux</span>, mais aussi exploiter des niches fiscales et adopter des stratégies de rémunération alternatives pour alléger votre imposition personnelle.
          </p>
          <p>
            De plus, la création d'une entité juridique distincte vous permet de protéger votre patrimoine personnel. En effet en séparant votre activité professionnelle de votre sphère privée, vous optez pour une solution qui protège pleinement votre famille des risques incombant à votre métier.
          </p>
          <button class="cta-button">
            Parler à notre expert
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </div>
  
      <!-- Image side -->
      
    </div>
  </div>
  <app-timeline-societe></app-timeline-societe>
  <app-promo-societe></app-promo-societe>
  <app-zone-contact></app-zone-contact>