<div class="sidebar-widget">
    <div class="widget">
        <h2>Secteur d'activité</h2>
        <ul class="widget-category list-unstyled d-flex flex-column gap-2">
            <!-- Affichage dynamique des catégories -->
            <li *ngFor="let category of categories.slice(0, maxVisibleCategories)">
                <a [routerLink]="category.route" routerLinkActive="active">
                    {{ category.name }}
                    <span><img src="assets/img/icon/arrow_up.svg" alt=""></span>
                </a>
            </li>
        </ul>
        <div *ngIf="maxVisibleCategories < categories.length" class="mt-3">
            <a (click)="showAllCategories()" class="text-danger" style="cursor: pointer;">
                Voir plus -> 
            </a>
        </div>
    </div>

    <div class="widget contact-widget">
        <h2>Contact</h2>
        <div class="contact-info d-flex gap-3 flex-column">
            <p><i class="fas fa-map-marker-alt"></i> 20 Rue de la Magnanerie, 1180 Uccle</p>
            <p><i class="fas fa-phone-alt"></i> +32 2 883 86 86</p>
            <p><i class="fas fa-envelope"></i> 
                <a href="mailto:info@mfinances.be"> info&#64;mfinances.be</a>
            </p>
        </div>
    </div>
</div>
