<header class="header">
  <div class="header-overlay">
    <div class="container">
      <span style="color: red; font-size: 16px"
        >BIENVENUE À MFINANCES EXPERT COMPTABLE À BRUXELLES</span
      >
      <h1 class="text-white">
        La qualité au service de votre trésorerie<br />
      </h1>
      <!-- <p class="text-white mt-3">
                Déverrouiller le potentiel de votre entreprise : Le grand saut de l'individuel à la société.
            </p> -->
    </div>
  </div>
</header>
<div class="video-promotion-section">
  <div class="content-container">
    <!-- Video Side -->
    <div class="video-side">
      <div class="video-tag">
        <i class="fas fa-play-circle"></i>
        REGARDEZ LA VIDÉO SUR CETTE PAGE
      </div>

      <div class="video-container">
        <img
          src="../../assets/img/thumbnail.jpg"
          alt="Thumbnail vidéo"
          class="video-thumbnail"
        />
        <button class="play-button">
          <i class="fas fa-play"></i>
        </button>
        <div class="video-duration">02:22</div>
      </div>
    </div>

    <!-- Text Side -->
    <div class="text-side">
      <h2 class="title">
        Transformez la guerre des prix
        <span class="highlight">en opportunité</span>
      </h2>

      <div class="content-text">
        <p class="intro">
          Dans le monde compétitif des affaires, une bonne gestion de la
          trésorerie est essentielle pour la survie et la croissance d'une
          entreprise. Mais comment faire face à une concurrence acharnée qui
          conduit souvent à une guerre des prix.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="business-section">
  <div class="container2">
    <!-- Contenu textuel -->
    <div class="content-side">
      <h2 class="title">
        Assimiler le problème : La guerre des prix une stratégie risquée
      </h2>

      <div class="content">
        <p>
          <span class="highlight"
            >La guerre des prix est une stratégie commerciale courante où les
            entreprises réduisent leurs prix pour attirer plus de clients et
            surpasser leurs concurrents.</span
          >
        </p>
        <p>
          Cependant, cette approche peut nuire gravement aux marges
          bénéficiaires. La baisse des marges bénéficiaires impacte très
          négativement la trésorerie, réduisant ainsi la capacité de
          l'entreprise à couvrir ses coûts opérationnels, à investir dans sa
          croissance future et à maintenir une stabilité financière.
        </p>

        <button class="cta-button" routerLink="/contact">
          Lancer votre procédure
          <i class="fas fa-arrow-right"></i>
        </button>
      </div>
    </div>

    <!-- Image side -->
    <div class="image-side">
      <img
        src="../../../assets/img/vente/img_passage_en_societe1.webp"
        alt="Entrepreneur travaillant"
        class="feature-image"
      />
    </div>
  </div>
</div>
<div class="business-section">
  <div class="container2">
    <div class="image-side">
      <img
        src="../../../assets/img/vente/img_passage_en_societe1.webp"
        alt="Entrepreneur travaillant"
        class="feature-image"
      />
    </div>

    <!-- Contenu textuel -->
    <div class="content-side">
      <h2 class="title">
        Une alternative durable : la différenciation par la qualité
      </h2>

      <div class="content">
        <p>
          Plutôt que de se battre sur le terrain des prix, les entreprises
          peuvent se démarquer en offrant des produits ou services de meilleure
          qualité. Cet article pratique vous explique comment mettre en place
          une telle stratégie et en quoi cela peut améliorer votre trésorerie.
          En investissant dans la qualité, les entreprises peuvent justifier des
          prix plus élevés, attirer une clientèle fidèle et réduire la pression
          sur leurs marges bénéficiaires, améliorant ainsi leur santé financière
          globale.
        </p>

        <button class="cta-button" routerLink="/contact">
          Prendre un RDV
          <i class="fas fa-arrow-right"></i>
        </button>
      </div>
    </div>

    <!-- Image side -->
  </div>
</div>
<app-timeline-guerre-prix></app-timeline-guerre-prix>
<div class="sec-padding">
  <div class="container gap-4">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="home2-about-img">
          <img
            src="../../../assets/img/webp/fiscalite_entreprise_3_mfinances.webp"
            alt=""
          />
        </div>
      </div>

      <div class="col-lg-6">
        <div class="hadding hadding-p">
          <h1 class="title">
            Élaborer une communication impactante pour valoriser la qualité
          </h1>
        </div>
        <div class="space10"></div>
        <div
          class="home2-about-list d-flex flex-column gap-3 mb-3 content"
          style="font-size: 18px"
        >
          <span data-aos="fade-right">
            <i class="fas fa-check-circle text-danger"></i>
            <span class="fw-bold" style="color: #f34947">
              Créez des contenus éducatifs
            </span>
            <p>
              (blogs, vidéos, infographies) pour expliquer pourquoi vos produits
              et services sont supérieurs. Par exemple, mettez en avant la
              durabilité et la qualité de vos matériaux par rapport à ceux de la
              concurrence.
            </p>
          </span>
          <span data-aos="fade-right">
            <i class="fas fa-check-circle text-danger"></i>
            <span class="fw-bold" style="color: #f34947">
              Utilisez les réseaux sociaux</span
            >
            <p>
              pour interagir avec vos clients et partager des histoires sur la
              création et les avantages de vos produits et services. Les
              histoires authentiques et engageantes peuvent renforcer la
              perception de qualité.
            </p>
          </span>
        </div>
        <div class="space10"></div>
      </div>
    </div>
  </div>
</div>
