.work-icon i {
    font-size: 24px;
    color: white;
}


.cards-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    max-width: 90%;
    text-align: left;
}

.card h2 {
    font-size: 1.5rem;
    color: #ff4136;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 1.1rem;
    color: #222;
    margin-bottom: 10px;
}

.card p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 10px;
    line-height: 1.6;
}

.card p:last-child {
    font-weight: bold;
    color: #444;
}

.case-card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    transition: transform 0.2s;
}
.case-card:hover {
    transform: translateY(-10px);
}
.problem, .solution, .result {
    margin-bottom: 1rem;
}
.h4{
    font-weight: 700;
}
.section-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    color: #111;
}

.demo-section {
    min-height: 2000px; /* Force la page à avoir un gros défilement */
    background-color: #f3f3f3;
  }

  
  .works-img {
    position: sticky;
    top: 50px; /* Distance par rapport au haut */
    z-index: 10;
  }