<header class="header">
  <div class="header-overlay">
    <div class="container">
      <h1 class="text-white" style="font-size: 40px; font-weight: 600">
        Gagnez en Sécurité Financière : Transformez Vos Défis Financiers en
        Opportunités de Croissance
      </h1>
      <p class="text-white mt-3">
        En tant que chef d'entreprise, vous êtes sans doute confronté à des
        défis de trésorerie qui freinent la croissance de votre activité. Ne
        laissez pas la trésorerie devenir un frein à votre succès.
      </p>
    </div>
  </div>
</header>

<div class="video-promotion-section">
  <div class="content-container">
    <!-- Video Side -->
    <div class="video-side">
      <div class="video-tag">
        <i class="fas fa-play-circle"></i>
        REGARDEZ LA VIDÉO SUR CETTE PAGE
      </div>
      <div class="video-container">
        <iframe
          src="https://www.youtube.com/embed/ddEWZUHRObM"
          title="Investissez dans votre trésorerie : Allégez le fardeau et assurez une croissance durable"
          allowfullscreen
          class="border-0"
        ></iframe>
      </div>
    </div>

    <!-- Text Side -->
    <div class="text-side">
      <h2 class="title">
        LE HÉROS DE <span class="highlight">L’ENTREPRISE </span>
      </h2>

      <div class="content-text">
        <p class="intro">
          Vous avez une vision ambitieuse pour votre entreprise, mais vous
          faites face à des défis majeurs de trésorerie qui limitent vos
          ambitions ? Vous avez du mal à prévoir la situation future de votre
          trésorerie ? Vous vous demandez comment financer votre croissance ou
          encore comment gérer efficacement votre stock ? La concurrence vous
          pousse à trouver des solutions rapides et stratégiques ? Chez
          MFinances et MSL-iTECH, nous comprenons que chaque entreprise est
          unique. Nous transformons vos défis en opportunités grâce à des
          solutions sur mesure.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="about-page-about-sec" data-aos="fade-up" data-aos-duration="1000">
  <div class="container">
    <div
      class="row align-items-center"
      style="
        display: flex;
        justify-content: center;
        margin-top: 64px;
        margin-bottom: 64px;
      "
    >
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="1000">
        <div class="about-page-about-img1 img-border img100">
          <img
            src="../../assets/img/services/image_service_compta_page_mfinances.png.png"
            alt=""
          />
        </div>
      </div>

      <div class="col-md-6" data-aos="fade-left" data-aos-duration="1000">
        <div class="about-haddings">
          <div class="hadding hadding-p space-sm-30">
            <p
              class="text-red"
              data-aos="fade-right"
              data-aos-duration="800"
            ></p>
            <!-- <span class="span">Who we Are</span> -->
            <h1 data-aos="fade-up" data-aos-duration="1000">
              Pourquoi l'optimisation de votre trésorerie est cruciale ? <br />
            </h1>
            <p data-aos="fade-up" data-aos-duration="1200">
              Votre trésorerie est le cœur battant de votre entreprise. Une
              gestion inadéquate peut non seulement compromettre vos opérations
              quotidiennes, mais aussi limiter vos opportunités de croissance.
              Imaginez une situation où chaque euro est maximisé, où vous
              anticipez chaque dépense et où chaque rentrée d'argent est fluide
              et prévisible.
            </p>
            <div class="home2-btn" data-aos="zoom-in" data-aos-duration="1000">
              <a
                (click)="scrollToSection('targetSection')"
                style="cursor: pointer; color: white"
                >Contactez-nous <i class="fa-solid fa-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="background section">
  <div class="container">
    <h2 class="section-title text-white">
      Identifiez-vous à ces défis courants ?
    </h2>
    <div class="defis-section" #container>
      <div class="defis-grid">
        <div
          class="defi-card"
          *ngFor="let defi of defis"
          [attr.data-speed]="defi.speed"
          [ngStyle]="getCardStyle(defi)"
        >
          <div class="defi-icon">
            <i class="fas {{ defi.icon }}"></i>
          </div>
          <h3 class="defi-title">{{ defi.title }}</h3>
          <p>{{ defi.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="services-section">
  <div class="container">
    <!-- En-tête de section -->
    <div class="section-header">
      <h2 class="main-title">Notre proposition d'accompagnement</h2>
      <h3 class="sub-title">MFinances et MSL-iTECH</h3>
      <p class="section-description">
        Nous vous accompagnons avec un plan stratégique pour revitaliser votre
        entreprise.
      </p>
    </div>

    <!-- Étape 1 : L’échange Diagnostic -->
    <div class="services-grid">
      <div class="service-card">
        <div class="card-image">
          <img
            src="../../../assets/img/webp/Etape3.webp"
            alt="Échange Diagnostic"
          />
        </div>
        <div class="card-content">
          <h3>Étape 1 : L’échange Diagnostic</h3>
          <p>
            Initiez votre parcours vers une meilleure gestion financière par un
            rendez-vous en visioconférence. Au cours de cette session, vous
            partagerez avec nous les détails de votre métier, votre mode de
            fonctionnement, vos principales difficultés. Cette discussion nous
            permet de comprendre en profondeur votre secteur d’activité, vos
            objectifs, et votre vision stratégique.
          </p>
          <p>
            À l'issue de cet échange, nous vous fournirons une liste d'éléments
            comptables et financiers à transmettre, afin de réaliser une analyse
            complète de votre situation.
          </p>
        </div>
      </div>

      <!-- Étape 2 : L’analyse approfondie -->
      <div class="service-card">
        <div class="card-image">
          <img
            src="../../../assets/img/webp/Etape1.webp"
            alt="Analyse approfondie"
          />
        </div>
        <div class="card-content">
          <h3>Étape 2 : L’analyse approfondie</h3>
          <p>
            Une fois vos documents en main, nous procédons à une analyse
            rigoureuse de votre gestion de trésorerie actuelle. Nous vous
            présentons ensuite un schéma clair de votre fonctionnement, en
            identifiant les dysfonctionnements et leurs causes.
          </p>
          <p>
            Vous recevrez également des recommandations précises sur les points
            à améliorer, ce qui vous permettra de prendre des décisions
            éclairées pour une optimisation durable. En ayant un regard
            extérieur sur votre situation, vous bénéficierez d'insights
            innovants qui vous ouvriront la voie à des solutions inédites et des
            stratégies financières novatrices.
          </p>
        </div>
      </div>

      <!-- Étape 3 : Recommandations et Automatisation -->
      <div class="service-card">
        <div class="card-image">
          <img
            src="../../../assets/img/webp/Etape2.webp"
            alt="Recommandations et Automatisation"
          />
        </div>
        <div class="card-content">
          <h3>Étape 3 : Recommandations et Automatisation</h3>
          <p>
            À cette étape, notre objectif est de vous proposer des solutions
            pour automatiser la création de votre tableau de trésorerie
            prévisionnel. Nous analysons d’abord votre entreprise, ses workflows
            spécifiques et la manière dont elle fonctionne, afin de mettre en
            place un système évolutif et personnalisé qui s'adapte à vos
            besoins.
          </p>
          <p>
            Ce système permet de construire et d’adapter automatiquement votre
            tableau de trésorerie, vous offrant ainsi une vision claire et
            précise de vos finances à tout moment. Pour atteindre cet objectif,
            nous pouvons vous proposer une solution comme Odoo, une suite de
            logiciels personnalisables qui peut être facilement configurée pour
            répondre aux besoins spécifiques de votre entreprise.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="background section">
    <div class="container">
        <div class="price-card">
            <h2 class="section-title">
                <i class="fas fa-gem"></i><br>
                Investissez dans votre Avenir
            </h2>
            <div class="price-amount">1.200 €</div>
            <p>Accompagnement complet pour transformer votre gestion financière</p>
            <ul class="features-list">
                <li><i class="fas fa-check"></i> Diagnostic approfondi personnalisé</li>
                <li><i class="fas fa-check"></i> Recommandations stratégiques</li>
                <li><i class="fas fa-check"></i> Intégration de solutions technologiques</li>
                <li><i class="fas fa-check"></i> Suivi et accompagnement</li>
            </ul>
            <a href="#contact" class="btn">
                <i class="fas fa-arrow-right"></i> Commencer maintenant
            </a>
        </div>
    </div>
</section> -->
<app-form-code-promo id="targetSection"></app-form-code-promo>
