<app-top-bar></app-top-bar>
<header class="sticky-header">
  <!-- Desktop Header -->
  <div class="header-area-home1 header-area-home3 d-none d-lg-block">
    <div class="container">
      <div class="header-elements">
        <div class="site-logo">
          <a href="/accueil">
            <img src="../../assets/img/logo/logoMfinances.png" alt="Logo" />
          </a>
        </div>
        <div class="main-menu-ex">
          <ul>
            <li><a href="/about">À propos</a></li>
            <li>
              <a href="/services"
                >Services <i class="fa-solid fa-angle-down"></i
              ></a>
              <ul>
                <li>
                  <a href="/services/creation-entreprise"
                    >Création d'entreprise</a
                  >
                </li>
                <li><a href="/services/comptabilite">Comptabilité</a></li>
                <li><a href="/services/fiscalite">Fiscalité</a></li>
                <li>
                  <a href="/services/declaration-impot">Déclaration d'impot</a>
                </li>
              </ul>
            </li>
            <li><a href="/tarif">Nos Tarifs</a></li>
            <li>
              <a href="/booste-entreprise"
                >Boostez votre entreprise <i class="fa-solid fa-angle-down"></i
              ></a>
              <ul>
                <li>
                  <a href="/vente/salarie-independant"
                    >Salarié et indépendants</a
                  >
                </li>
                <li>
                  <a href="/vente/passage-en-societe">Passage en societe</a>
                </li>
                <li>
                  <a href="/vente/compte-courant"
                    >Compte Courant administrateur</a
                  >
                </li>
                <li>
                  <a href="/tresorerie">
                    Transformez votre trésorerie
                    <i class="fa-solid fa-angle-right"></i>
                  </a>
                  <ul>
                    <li>
                      <a href="/tresorerie/investir-tresorerie"
                        >Investir sans risquer</a
                      >
                    </li>
                    <li>
                      <a href="/tresorerie/optimiser-stock"
                        >Optimisez vos Stocks</a
                      >
                    </li>
                    <li>
                      <a href="/tresorerie/alerte-tresorerie"
                        >Alerte trésorerie</a
                      >
                    </li>
                    <li>
                      <a href="/tresorerie/proteger-sa-tresorerie"
                        >Protégez Votre Trésorerie</a
                      >
                    </li>
                    <li>
                      <a href="/tresorerie/anticiper-sa-tresorerie"
                        >Anticipez vos Finances</a
                      >
                    </li>
                    <li>
                      <a href="/tresorerie/accompagnement"
                        >Service d'accompagnement</a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="/tresorerie/tresorerie-benefice"
                >Trésorerie vs Bénéfices <i class="fa-solid fa-angle-down"></i
              ></a>
              <ul>
                <li>
                  <a href="/tresorerie/investir-tresorerie"
                    >Investir sans risquer</a
                  >
                </li>
                <li>
                  <a href="/tresorerie/optimiser-stock">Optimisez vos Stocks</a>
                </li>
                <li>
                  <a href="/tresorerie/alerte-tresorerie">Alerte trésorerie</a>
                </li>
                <li>
                  <a href="/tresorerie/proteger-sa-tresorerie"
                    >Protégez Votre Trésorerie</a
                  >
                </li>
                <li>
                  <a href="/tresorerie/anticiper-sa-tresorerie"
                    >Anticipez vos Finances</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="/support"
                >Support <i class="fa-solid fa-angle-down"></i
              ></a>
              <ul>
                <li>
                  <a routerLink="/support">Guide d'assistance</a>
                </li>
                <li>
                  <a
                    href="https://get.anydesk.com/dzQb9eHl/AnyDesk_Custom_Client.exe"
                    >Support pour Windows</a
                  >
                </li>
                <li>
                  <a
                    href="https://get.anydesk.com/U2eK2Jqz/AnyDesk_Custom_Client.dmg"
                    >Support pour Mac</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="header-btn">
          <a href="/contact" class="btn-red"
            >Nos contacts <i class="fa-solid fa-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile Header -->
  <div class="mobile-header d-block d-lg-none">
    <div class="mobile-header-elements">
      <div class="mobile-logo">
        <a href="/accueil">
          <img src="assets/img/logo/logoMfinances.png" alt="Logo" />
        </a>
      </div>
      <div class="mobile-nav-icon">
        <i class="fas fa-bars"></i>
      </div>
    </div>
  </div>

  <!-- Mobile Sidebar -->
  <div class="mobile-sidebar">
    <div class="menu-close">
      <i class="fas fa-times"></i>
    </div>
    <div class="mobile-nav">
      <ul class="mobile-nav-list">
        <li><a href="/about">À propos</a></li>
        <li>
          <a href="#" class="has-submenu"
            >Services <i class="fa-solid fa-angle-down"></i
          ></a>
          <ul class="sub-menu">
            <li>
              <a href="/services/creation-entreprise">Création d'entreprise</a>
            </li>
            <li><a href="/services/comptabilite">Comptabilité</a></li>
            <li><a href="/services/fiscalite">Fiscalité des entreprises</a></li>
            <li>
              <a href="/services/declaration-impot">Déclaration d'impot</a>
            </li>
          </ul>
        </li>
        <li><a href="/tarif">Nos Tarifs</a></li>
        <li>
          <a href="/booste-entreprise" class="has-submenu"
            >Boostez votre entreprise <i class="fa-solid fa-angle-down"></i
          ></a>
          <ul class="sub-menu">
            <li>
              <a href="/vente/salarie-independant">Salarié et indépendants</a>
            </li>
            <li><a href="/vente/passage-en-societe">Passage en societe</a></li>
            <li>
              <a href="/vente/compte-courant">Compte Courant administrateur</a>
            </li>
            <li>
              <a href="#" class="has-submenu"
                >Trésorerie Transformez le Stress en Succès
                <i class="fa-solid fa-angle-down"></i
              ></a>
              <ul class="sub-menu">
                <li>
                  <a href="/tresorerie/investir-tresorerie"
                    >Investir sans risquer</a
                  >
                </li>
                <li>
                  <a href="/tresorerie/optimiser-stock">Optimisez vos Stocks</a>
                </li>
                <li>
                  <a href="/tresorerie/alerte-tresorerie">Alerte trésorerie</a>
                </li>
                <li>
                  <a href="/tresorerie/proteger-sa-tresorerie"
                    >Protégez Votre Trésorerie</a
                  >
                </li>
                <li>
                  <a href="/tresorerie/anticiper-sa-tresorerie"
                    >Anticipez vos Finances</a
                  >
                </li>
                <li>
                  <a href="/tresorerie/accompagnement"
                    >Service d'accompagnement</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="/tresorerie/tresorerie-benefice" class="has-submenu"
            >Trésorerie vs Bénéfices <i class="fa-solid fa-angle-down"></i
          ></a>
          <ul class="sub-menu">
            <li>
              <a href="/tresorerie/investir-tresorerie"
                >Investir sans risquer</a
              >
            </li>
            <li>
              <a href="/tresorerie/optimiser-stock">Optimisez vos Stocks</a>
            </li>
            <li>
              <a href="/tresorerie/alerte-tresorerie">Alerte trésorerie</a>
            </li>
            <li>
              <a href="/tresorerie/proteger-sa-tresorerie"
                >Protégez Votre Trésorerie</a
              >
            </li>
            <li>
              <a href="/tresorerie/anticiper-sa-tresorerie"
                >Anticipez vos Finances</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="has-submenu"
            >Support <i class="fa-solid fa-angle-down"></i
          ></a>
          <ul class="sub-menu">
            <li>
              <a routerLink="/support">Guide d'assistance</a>
            </li>
            <li>
              <a
                href="https://get.anydesk.com/dzQb9eHl/AnyDesk_Custom_Client.exe"
                >Support pour Windows</a
              >
            </li>
            <li>
              <a
                href="https://get.anydesk.com/U2eK2Jqz/AnyDesk_Custom_Client.dmg"
                >Support pour Mac</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <div class="header-btn">
        <a href="/contact" class="btn-red"
          >Nos contacts <i class="fas fa-arrow-right"></i
        ></a>
      </div>
    </div>
  </div>

  <!-- Overlay -->
  <div class="overlay"></div>
</header>
