<div class="container custom--marge ">
  <div class="row">
    <!-- Section des images -->
    <div class="col-lg-6 mb-2">
      <div class="row">
        <!-- Première colonne avec deux images en flex-column -->
        <div class="col-6 d-flex flex-column">
          <div class="mb-3">
            <img src="assets/img/image/Container.png" class="img-fluid rounded" alt="Image 1">
          </div>
          <div>
            <img src="assets/img/image/Container2.png" class="img-fluid rounded" alt="Image 2">
          </div>
        </div>

        <!-- Deuxième colonne avec une image et overlay -->
        <div class="col-6">
          <div class="position-relative">
            <img src="assets/img/image/Container3.png" class="img-fluid rounded" alt="Image 3">
            <div class="overlay position-absolute top-100 ">
              <div class="text-center">
                <img src="assets/img/image/Group20.png" alt="Overlay Icon" class="overlay-icon">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Section du texte -->
    <div class="col-lg-6 d-flex flex-column justify-content-center">
      <p class="text-red">
        <span class="text-red">Pourquoi nous choisir</span>
      </p>
      <h2 class="fw-bold text-custom">MFINANCES Expert Comptable à Bruxelles</h2>
      <p>Nous vous apportons un soutien administratif pour pallier d'éventuelles omissions dans votre comptabilité, qui peuvent entraîner la perte de la déductibilité de certaines dépenses.</p>
      <div class="row flex-column gap-3">
        <span><i class="fas fa-check-circle text-danger"></i> Évitez les dépenses injustifiées</span>
        <span><i class="fas fa-check-circle text-danger"></i> Optimisez vos remboursements de frais</span>
        <span><i class="fas fa-check-circle text-danger"></i> Solutions sur mesure pour vous</span>
        <span><i class="fas fa-check-circle text-danger"></i> Accélérez la croissance de l’entreprise</span>
      </div>
      <div class="home2-btn">
        <a href="#" class="btn-red mt-3">Devenir Client <i class="fas fa-arrow-right"></i></a>
      </div>

    </div>
  </div>
</div>
