.image-container {
  position: relative;
}
.overlay {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-100%, -50%);
}
.benefits-list li {
  list-style: none;
  margin-bottom: 10px;
}
.benefits-list li i {
  margin-right: 8px;
}

.text-custom,p,li{
  color:#004865
}
.btn-red{
  background-color: red;
}

.text-red {
  color: #ff0000; /* Rouge vif */
  font-style: italic;
}

.custom--marge{
  margin-top: 5rem;
  margin-bottom: 5rem;
}
