<div class="background-section">
    <h2>Services</h2>
    <h1>Experts-comptables certifiés à Bruxelles</h1>

    <div class="container">
      <div class="row justify-content-center">

        <!-- Card 1 -->
        <div class="col-md-4">
          <div class="custom-card">
            <div class="inner-border">
              <div class="icon">
                <i class="fas fa-percent"></i>
              </div>
              <h5>Comptabilité</h5>
              <p>Nos services comptables amélioreront vos ratios, facilitent la compréhension des chiffres et deviennent un outil de gestion efficace.</p>
<!--              <div class="read-more btn-link" style="text-decoration: none!important;">-->
<!--                <a href="#" class="read-more-link">-->
<!--                  Lire plus-->
<!--                  <span class="arrow-circle">-->
<!--                  <i class="fas fa-arrow-right"></i>-->
<!--             </span>-->
<!--                </a>-->
<!--              </div>-->
              <a href="#" class="d-flex justify-content-end card-link">Voir plus <i class="fas fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <!-- Carte 2: Création d'entreprise -->
        <div class="col-md-4">
          <div class="custom-card">
            <div class="inner-border">
              <div class="icon">
                <i class="fas fa-building"></i>
              </div>
              <h5>Création d'entreprise</h5>
              <p>Élaboration d'un plan financier : nous établissons votre plan financier et expliquons chacun des paramètres.</p>
              <a href="#" class="d-flex justify-content-end card-link">Voir plus <i class="fas fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <!-- Carte 3: Fiscalité des entreprises -->
        <div class="col-md-4">
          <div class="custom-card">
            <div class="inner-border">
              <div class="icon">
                <i class="fas fa-balance-scale"></i>
              </div>
              <h5>Fiscalité des entreprises</h5>
              <p>Nous préparons vos déclarations de TVA, d'impôt sur le revenu des sociétés et autres déclarations fiscales.</p>
              <a href="#" class="d-flex justify-content-end card-link">Voir plus <i class="fas fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <!-- Carte 4: Gestion d'entreprise -->
        <div class="col-md-4">
          <div class="custom-card">
            <div class="inner-border">
              <div class="icon">
                <i class="fas fa-briefcase"></i>
              </div>
              <h5>Gestion d'entreprise</h5>
              <p>Nous mettons à votre disposition un outil de pilotage essentiel à la prise de décision et à la croissance de votre entreprise.</p>
              <a href="#" class="d-flex justify-content-end card-link">Voir plus <i class="fas fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <!-- Carte 5: Déclaration d'impôt pour les particuliers -->
        <div class="col-md-4">
          <div class="custom-card">
            <div class="inner-border">
              <div class="icon">
                <i class="fas fa-file-alt"></i>
              </div>
              <h5>Déclaration d'impôt pour les particuliers</h5>
              <p>Nous préparons vos déclarations de TVA, d'impôt sur le revenu et autres déclarations fiscales.</p>
              <a href="#" class="d-flex justify-content-end card-link">Voir plus <i class="fas fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
