<header class="header">
  <div class="header-overlay">
    <div class="container">
      <h1 class="text-white">Optimisez vos Stocks, Libérez vos Liquidités</h1>
      <p class="text-white mt-3">
        Comment une Bonne Gestion des Stocks Peut Transformer votre Trésorerie
      </p>
    </div>
  </div>
</header>
<div class="video-promotion-section">
  <div class="content-container">
    <!-- Video Side -->
    <div class="video-side">
      <div class="video-tag">
        <i class="fas fa-play-circle"></i>
        REGARDEZ LA VIDÉO SUR CETTE PAGE
      </div>
      <div class="video-container">
        <iframe
          src="https://www.youtube.com/embed/-MtiT-Yt_no"
          title="Gestion de stock de votre entreprise"
          title="Le Defi du stock VL"
          allowfullscreen
          class="border-0"
        ></iframe>
      </div>
    </div>

    <!-- Text Side -->
    <div class="text-side">
      <h2 class="title">
        Optimiser la Gestion des Stocks pour une
        <span class="highlight">Trésorerie Saine et Réactive</span>
      </h2>

      <div class="content-text">
        <p class="intro">
          Le stock, du point de vue de la gestion de la trésorerie, c’est bien
          plus qu’une simple réserve de produits. C’est de l’argent immobilisé.
          Lorsqu’il n’est pas optimisé, il devient une charge qui freine la
          croissance.
        </p>
        <p>
          Dans cet épisode du podcast
          <span class="highlight"
            >"Trésorerie : Transformez le Stress en Succès",</span
          >
          Mika Musungayi, expert-comptable chez MFINANCES, partage des
          stratégies concrètes pour
        </p>
        <div
          class="home2-about-list d-flex flex-column gap-3 mb-3"
          style="font-size: 18px"
        >
          <span data-aos="fade-right" data-aos-duration="800">
            <i class="fas fa-check-circle text-danger"></i> Libérer des
            liquidités en optimisant la rotation des stocks.
          </span>
          <span data-aos="fade-right" data-aos-duration="1000">
            <i class="fas fa-check-circle text-danger"></i> Réduire les coûts
            inutiles liés à un surstockage ou une mauvaise gestion.
          </span>
          <span data-aos="fade-right" data-aos-duration="1000">
            <i class="fas fa-check-circle text-danger"></i> Rendre votre
            trésorerie plus dynamique et réactive.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<app-timeline-stock></app-timeline-stock>

<div class="video-promotion-section2">
  <div class="content-container">
    <!-- Text Side -->
    <div class="text-side">
      <h2 class="title">
        Le Défi du Stock :<span class="highlight"> Quand Trop, c’est Trop</span>
      </h2>

      <div class="content-text">
        <p class="intro">
          Dans la vidéo storytelling, Marianne, entrepreneure passionnée, pense
          qu’un stock important est une preuve de préparation. Mais elle se
          heurte à plusieurs problèmes :
        </p>
        <div
          class="home2-about-list d-flex flex-column gap-3 mb-3"
          style="font-size: 18px"
        >
          <span data-aos="fade-right" data-aos-duration="800">
            <i class="fas fa-check-circle text-danger"></i> Sa trésorerie est
            bloquée par des produits qui ne tournent pas assez vite.
          </span>
          <span data-aos="fade-right" data-aos-duration="800">
            <i class="fas fa-check-circle text-danger"></i> Les coûts
            d’entreposage explosent.
          </span>
          <span data-aos="fade-right" data-aos-duration="800">
            <i class="fas fa-check-circle text-danger"></i>Certains articles
            deviennent invendables, causant des pertes sèches.
          </span>
        </div>
      </div>
    </div>

    <!-- Video Side -->
    <div class="video-side">
      <div class="video-tag">
        <i class="fas fa-play-circle"></i>
        REGARDEZ LA VIDÉO SUR CETTE PAGE
      </div>

      <div class="video-container">
        <iframe
          src="https://www.youtube.com/embed/gAQNWTziFug"
          allowfullscreen
          class="border-0"
        ></iframe>
      </div>
    </div>
  </div>
</div>
<app-zone-contact></app-zone-contact>
