<div class="services-section">
    <div class="container">
      <div class="section-header">
        <span class="subtitle">Le Temps Est-il Venu Pour Vous De Passer En Société ?</span>
        <h2>Offrez-vous une analyse personnalisée de<br> votre situation au prix de 1.200 €.</h2>
        <p class="text-white">MFinances transforme vos interrogations en opportunités et vous<br> accompagne en 4 étapes grâce à son expertise sur mesure</p>
      </div>
  
      <div class="services-list">
        <!-- Service 1 -->
        <div class="service-item">
            <div class="service-content">
                <div class="service-number">01</div>
                <div class="service-text">
                    <h3>Planification Financière Stratégique</h3>
                    <p>Nous vous présentons la situation de votre activité en personne physique en mettant en évidence l'impôt qu’elle génère.</p>
                </div>
                <button class="expand-btn">
                    <i class="fas fa-arrow-up-right-from-square"></i>
                </button>
                <div class="hover-image">
                    <img src="../../../assets/img/vente/etape1_passage_en_societe_mfinan.webp" alt="Planification Stratégique">
                </div>
            </div>
        </div>
    
        <!-- Service 2 -->
        <div class="service-item">
            <div class="service-content">
                <div class="service-number">02</div>
                <div class="service-text">
                    <h3>Conseils Experts pour Réussir Votre Projet</h3>
                    <p>Nous élaborons le plan financier de votre activité sous forme de société. Cela permet de projeter vos résultats financiers en tant que société et de calculer les impôts associés. Vous pourrez utiliser ce plan directement pour les formalités de création de votre société, évitant ainsi des frais supplémentaires.</p>
                </div>
                <button class="expand-btn">
                    <i class="fas fa-arrow-up-right-from-square"></i>
                </button>
                <div class="hover-image">
                    <img src="../../../assets/img/vente/etape2_passage_en_societe_mfinan.webp" alt="Conseils Experts">
                </div>
            </div>
        </div>
    
        <!-- Service 3 -->
        <div class="service-item">
            <div class="service-content">
                <div class="service-number">03</div>
                <div class="service-text">
                    <h3>Optimisation de Votre Pouvoir d'Achat</h3>
                    <p>Nous réalisons une optimisation de votre pouvoir d’achat. Nous examinons ensemble les différentes niches fiscales disponibles pour réduire efficacement l’impôt sur votre rémunération.</p>
                </div>
                <button class="expand-btn">
                    <i class="fas fa-arrow-up-right-from-square"></i>
                </button>
                <div class="hover-image">
                    <img src="../../../assets/img/vente/etape3_passage_en_societe_mfinan.webp" alt="Optimisation Pouvoir d'Achat">
                </div>
            </div>
        </div>
    
        <!-- Service 4 -->
        <div class="service-item">
            <div class="service-content">
                <div class="service-number">04</div>
                <div class="service-text">
                    <h3>Économie d'Impôts et Transition en Société</h3>
                    <p>Nous rédigeons une note de synthèse comparative qui met en évidence l’économie d'impôts que vous pourriez réaliser en concrétisant votre passage en société. Et nous vous proposons un RDV pour répondre à toutes vos questions.</p>
                </div>
                <button class="expand-btn">
                    <i class="fas fa-arrow-up-right-from-square"></i>
                </button>
                <div class="hover-image">
                    <img src="../../../assets/img/vente/bcom-h-2-service-grid-img4-5 (1).webp" alt="Économie d'Impôts">
                </div>
            </div>
        </div>
    </div>
    
    </div>
  </div>