<div class="services-section">
    <div class="container">
      <div class="section-header">
        <span class="subtitle">Le Temps Est-il Venu Pour Vous De Passer En Société ?</span>
        <h2>Les avantages<br> du passage en societe</h2>
        <!-- <p class="text-white">les avantages<br> accompagne en 4 étapes grâce à son expertise sur mesure</p> -->
      </div>
  
      <div class="services-list">
        <!-- Service 1 -->
        <div class="service-item">
            <div class="service-content">
                <div class="service-number">01</div>
                <div class="service-text">
                    <h3>La Protection du Patrimoine : Une séparation judicieuse </h3>
                    <p>L'un des principaux avantages de la constitution en société réside dans la séparation claire entre les biens personnels et professionnels. Cette distinction protège le patrimoine personnel des aléas et des risques liés aux activités professionnelles, établissant ainsi une barrière sécurisante contre les réclamations des créanciers. </p>
                </div>
                <button class="expand-btn">
                    <i class="fas fa-arrow-up-right-from-square"></i>
                </button>
                <div class="hover-image">
                    <img src="../../../assets/img/vente/etape1_passage_en_societe_mfinan.webp" alt="Planification Stratégique">
                </div>
            </div>
        </div>
    
        <!-- Service 2 -->
        <div class="service-item">
            <div class="service-content">
                <div class="service-number">02</div>
                <div class="service-text">
                    <h3>Analyse Économique : Coûts et bénéfices de la société </h3>
                    <p>La transformation en société s'accompagne certes de frais initiaux non négligeables—publications légales, cotisations, frais de gestion comptable—mais elle offre en contrepartie des avantages fiscaux significatifs. Il est crucial de comprendre ces échanges pour évaluer correctement les implications financières. </p>
                </div>
                <button class="expand-btn">
                    <i class="fas fa-arrow-up-right-from-square"></i>
                </button>
                <div class="hover-image">
                    <img src="../../../assets/img/vente/etape2_passage_en_societe_mfinan.webp" alt="Conseils Experts">
                </div>
            </div>
        </div>
    
        <!-- Service 3 -->
        <div class="service-item">
            <div class="service-content">
                <div class="service-number">03</div>
                <div class="service-text">
                    <h3>Avantages Fiscaux : Une imposition plus clémente </h3>
                    <p>Les structures sociétales bénéficient de taux d'imposition généralement plus favorables que ceux appliqués aux entreprises individuelles. En société, le taux est de 20 % pour les bénéfices jusqu'à 100 000 € et de 25 % au-delà. En comparaison, les personnes physiques peuvent être imposées jusqu'à 50 % pour des revenus bruts dépassant 41 360 €. Ces différences peuvent représenter des économies considérables en impôts pour les entrepreneurs. </p>
                </div>
                <button class="expand-btn">
                    <i class="fas fa-arrow-up-right-from-square"></i>
                </button>
                <div class="hover-image">
                    <img src="../../../assets/img/vente/etape3_passage_en_societe_mfinan.webp" alt="Optimisation Pouvoir d'Achat">
                </div>
            </div>
        </div>
    
        <!-- Service 4 -->
        <div class="service-item">
            <div class="service-content">
                <div class="service-number">04</div>
                <div class="service-text">
                    <h3>Point de Rentabilité : Quand la société devient-elle bénéfique ?</h3>
                    <p>Le calcul du seuil de rentabilité, où les économies d'impôt surpassent les coûts de fonctionnement d'une société, est essentiel pour justifier économiquement cette transformation. Par exemple, si les coûts annuels supplémentaires d'une société sont de 3 500 € mais permettent une économie d'impôt de 8 000 € grâce aux taux réduits, le passage en société devient immédiatement avantageux. De plus, l'augmentation des revenus accentuera progressivement la rentabilité, amplifiant l'avantage fiscal et consolidant la décision économique de cette transformation. </p>
                </div>
                <button class="expand-btn">
                    <i class="fas fa-arrow-up-right-from-square"></i>
                </button>
                <div class="hover-image">
                    <img src="../../../assets/img/vente/bcom-h-2-service-grid-img4-5 (1).webp" alt="Économie d'Impôts">
                </div>
            </div>
        </div>
    </div>
    
    </div>
  </div>