
<header class="header">
    <div class="header-overlay">
        <div class="container">
            <h1>Indépendants et Starter</h1>
            <p class="text-white">Accueil &gt; Indépendants et Starter</p>
        </div>
    </div>
</header>

<!-- Service single start -->
<section class="service-single pt-120 pb-130">
    <div class="container">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-lg-4">
                <div class="sidebar-widget">
                    <!-- Categories Widget -->
                    <div class="widget">
                        <h2>Secteur d'activité</h2>
                        <ul class="widget-category list-unstyled d-flex flex-column gap-2">
                            <li><a class="active" href="coaching-single.html">Independant et Startup<span><img src="assets/img/icon/arrow_up.svg" alt=""></span></a></li>
                            <li><a  href="coaching-single.html">ASBL<span><img src="assets/img/icon/arrow_up.svg" alt=""></span></a></li>
                            <li><a href="coaching-single.html">Sociétés d’exploitation commerciale ou civile <span><img src="assets/img/icon/arrow_up.svg" alt=""></span></a></li>
                            <li><a href="coaching-single.html">Sociétés de management patrimoniale<span><img src="assets/img/icon/arrow_up.svg" alt=""></span></a></li>
                            <li><a href="coaching-single.html">Sociétés de moyens<span><img src="assets/img/icon/arrow_up.svg" alt=""></span></a></li>
                            <li><a href="coaching-single.html">Promoteurs immobiliers <span><img src="assets/img/icon/arrow_up.svg" alt=""></span></a></li>
                        </ul>
                    </div>
                    <div class="widget contact-widget">
                        <h2>Contact</h2>
                        <div class="contact-info  d-flex gap-3 flex-column">
                            <p><i class="fas fa-map-marker-alt"></i> 20 Rue de la Magnanerie, 1180 Uccle</p>
                            <p><i class="fas fa-phone-alt"></i> +32 2 883 86 86</p>
                            <p><i class="fas fa-envelope"></i> <a href="mailto:info@mfinances.be"> info&#64;mfinances.be</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main Content -->
            <div class="col-lg-8">
                <div class="single-content">
                    <h3>Tout savoir sur L’ASBL</h3>
                    <h4>Devenir indépendant en Belgique : Lancez votre projet avec succès </h4>
                    <p>Devenir indépendant, c’est plus qu’un simple changement de statut. C’est une aventure excitante, un saut vers la liberté professionnelle et une opportunité unique de transformer vos idées en réalité. Que vous soyez en début de carrière ou en pleine réorientation, le statut d’indépendant vous permet de construire un projet sur mesure, adapté à vos aspirations.  </p>
                    <p>Cependant, chaque aventure comporte ses défis : démarches administratives, gestion financière, périodes de creux… Avec plus de 20 ans d’expérience,<br> <strong>MFINANCES</strong> accompagne les entrepreneurs pour surmonter ces obstacles grâce à des pratiques éprouvées et un savoir-faire unique. </p>
                    <div class="single-img mt-35 mb-4">
                        <img src="../../assets/img/image/c_single.png" alt="">
                    </div>
                    <h3>Pourquoi choisir le statut d’indépendant ?  </h3>
                    <p>Chaque année, des milliers de Belges choisissent de devenir indépendants pour concrétiser leurs ambitions. Ce statut offre des avantages uniques : </p>
                    <div class="single-content__feature">
                        <div class="single-content-feature">
                            <div class="xb-item--inner">
                                <div class="xb-item--icon">
                                    <!-- <img src="assets/img/icon/profile-2user.svg" alt=""> -->
                                    <i class="fa fa-user-group" style="color: #FE6C3F;"></i>
                                </div>
                                <div class="d-flex flex-column">
                                    <h3 class="xb-item--title">Liberté professionnelle</h3>
                                    <p>Vous êtes votre propre patron et définissez vos projets, vos horaires et vos priorités </p>
                                </div>
                               
                            </div>
                        </div>
                        <div class="single-content-feature">
                            <div class="xb-item--inner color-2">
                                <div class="xb-item--icon" style="background-color: #E8F4FE;">
                                    <!-- <img src="assets/img/icon/book.svg" alt=""> -->
                                     <i class="fa fa-book" style="color: #1496F8;"></i>
                                </div>
                                <div class="d-flex flex-column">
                                    <h3 class="xb-item--title">Développement personnel et professionnel</h3>
                                <p>Transformez vos passions en une activité rentable et épanouissante.</p>
                                </div>
                                
                            </div>
                        </div>
                        <div class="single-content-feature">
                            <div class="xb-item--inner color-3">
                                <div class="xb-item--icon" style="background-color: #e7fff4;">
                                    <!-- <img src="assets/img/icon/teacher.svg" alt=""> -->
                                    <i class="fa fa-user-graduate" style="color: #00cc99;
;"></i>
                                </div>
                                <div class="d-flex flex-column">
                                    <h3 class="xb-item--title">Transformez vos passions en une activité rentable et épanouissante.  </h3>
                                <p>Vos revenus dépendent de vos efforts et de la performance de votre activité.  </p>
                                </div>
                                
                            </div>
                        </div>
                        <div class="single-content-feature">
                            <div class="xb-item--inner color-4">
                                <div class="xb-item--icon" style="background-color: #FFF8E7;">
                                  <i class="fa-solid fa-briefcase" style="color: #FFBD0F;"></i>
                                </div>
                                <div class="d-flex flex-column">
                                    <h3 class="xb-item--title">Flexibilité dans les choix juridiques </h3>
                                <p>Commencez comme indépendant principal ou complémentaire, selon vos besoins. </p>
                                </div>
                                
                            </div>
                        </div>
                        <div class="single-content-feature">
                            <div class="xb-item--inner color-2">
                                <div class="xb-item--icon" style="background-color: #E8F4FE;">
                                    <!-- <img src="assets/img/icon/book.svg" alt=""> -->
                                     <i class="fa fa-book" style="color: #1496F8;"></i>
                                </div>
                                <div class="d-flex flex-column">
                                    <h3 class="xb-item--title">Un réseau professionnel en développement</h3>
                                <p>Collaborez avec des clients, fournisseurs et partenaires pour élargir vos opportunités.</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <h3>Les défis des indépendants : un statut exigeant </h3>
                    <p>Si devenir indépendant offre une liberté unique, il comporte également des défis importants :  </p>
                    <div class="row align-items-center mt-10">
                        <div class="col-lg-6 mt-30">
                            <img src="../../assets/img/image/c_single2.png" alt="">
                        </div>
                        <div class="col-lg-6 mt-30">
                            <ul class="single-content-list list-unstyled pl-25">
                                <li><i class="fa fa-star" style="font-size: 14px; color: #FF3333; margin-right: 6px;"></i>Un investissement personnel important</li>
                                <li><i class="fa fa-star" style="font-size: 14px; color: #FF3333; margin-right: 6px;"></i>Des risques financiers à gérer</li>
                                <li><i class="fa fa-star" style="font-size: 14px; color: #FF3333; margin-right: 6px;"></i>Une protection sociale limitée </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row  align-items-center mt-10">
                       
                        <div class="col-lg-6 mt-30">
                            <h1>Comment MFINANCES vous aide à relever ces défis ?</h1>
                            <p>Avec MFINANCES, ces obstacles se transforment en opportunités</p>
                            <ul class="single-content-list list-unstyled pl-25">
                                <li><i class="fa fa-star" style="font-size: 14px; color: #FF3333; margin-right: 6px;"></i>Une planification proactive</li>
                                <li><i class="fa fa-star" style="font-size: 14px; color: #FF3333; margin-right: 6px;"></i>Des solutions sur mesure</li>
                                <li><i class="fa fa-star" style="font-size: 14px; color: #FF3333; margin-right: 6px;"></i>Une protection sociale limitée </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 mt-30">
                            <img src="../../assets/img/image/c_single2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Main Content -->
        </div>
    </div>
</section>
<section>
    <!--=====service-start=======-->
  <div class="service sec-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <div class="hadding">
            <h1 class="text-white">Nos services pour les <span class="rectangle-red">ASBL</span></h1>
          </div>
        </div>
      </div>
      <div class="space20"></div>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="box-after">
            <div class="service-box hadding hadding-p">
                <img src="../../assets/img/image/about-choose-icon-1.png" alt="">
            <div class="space20"></div>
            <h2>Création et gestion administrative</h2>
            <p>Nous prenons en charge la rédaction des statuts, l'enregistrement au Moniteur belge, l'automatisation ou l'externalisation des tâches administratives  et le suivi des obligations légales </p>
            <div class="space20"></div>
            
          </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="box-after">
            <div class="service-box hadding hadding-p">
                <img src="../../assets/img/image/about-choose-icon-4.png" alt="">
            <div class="space20"></div>
            <h2>Gestion comptable et fiscale </h2>
            <p>Comptabilité analytique, déclarations fiscales et TVA, ainsi que préparation et dépôt des comptes annuels à la Banque Nationale de Belgique. </p>
            <div class="space20"></div>
            
          </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="box-after">
            <div class="service-box hadding hadding-p">
            <img src="../../assets/img/image/about-vision-icon-3.png" alt="">
            <div class="space20"></div>
            <h2>Accompagnement en recherche de financements</h2>
            <p>Elaboration de plans financiers détaillés, suivi des coûts via la comptabilité analytique pour optimiser les demandes de subsides, et consolidation des budgets pour assurer une trésorerie saine</p>
            <div class="space20"></div>
          
          </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="box-after">
              <div class="service-box hadding hadding-p">
              <img src="../../assets/img/image/RH.png" alt="">
              <div class="space20"></div>
              <h2>Gestion des ressources humaines</h2>
              <p>suivi des bénévoles dans le respect des obligations légales, gestion des indemnités, et analyse des charges salariales pour anticiper leur impact sur la trésorerie.</p>
              <div class="space20"></div>
              
            </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="box-after">
              <div class="service-box hadding hadding-p">
                <img src="../../assets/img/image/CFO.png" alt="">
              <div class="space20"></div>
              <h2>Service de direction financière (CFO)</h2>
              <p>expertise stratégique avec analyse financière, suivi des budgets et de la trésorerie, et optimisation des ressources pour maximiser votre impact.</p>
              <div class="space20"></div>
            
            </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

<section>
    <!--=====about-start=======-->
  <div class="about sec-padding">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6" data-aos="fade-right" data-aos-duration="800">
          <div class="about-img img-border">
            <img src="../../assets/img/image/about-07.png" alt="">
          </div>
        </div>
        <div class="col-md-6 space-sm-30" data-aos="fade-left" data-aos-duration="800">
          <div class="about-haddings">
            <div class="hadding hadding-p">
                <p class="text-red">
                    <span class="text-red">Pourquoi collaborer avec nous ? </span>
                </p>
            <!-- <span class="span">Why Choose Us</span> -->
            <h3>En choisissant MFINANCES, vous bénéficiez de  </h3>
          </div>

          <div class="check-list-all" style="padding: 1px 0 !important">
            <div class="row">
            <div>
              <div class="chek-list">
                <p><img src="../../assets/img/icons/checkfill.png" alt=""> Conformité légale garantie</p>
              </div>
              <div class="space20"></div>
              <div class="chek-list">
                <p><img src="../../assets/img/icons/checkfill.png" alt=""> Gain de temps </p>
              </div>
              <div class="space20"></div>
            </div>
            <div >
              <div class="chek-list">
                <p><img src="../../assets/img/icons/checkfill.png" alt=""> Optimisation des ressources</p>
              </div>
              <div class="space20"></div>
              <div class="chek-list">
                <p><img src="../../assets/img/icons/checkfill.png" alt=""> Un service personnalisé </p>
              </div>
            </div>
          </div>
          </div>
          <div class="home2-btn mt-4">
            <a href="about.html" class="btn-red">Contactez-nous <i class="fa-solid fa-arrow-right"></i></a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--=====about-end=======-->
</section>

<section>

  <div class="service-faq sec-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <div class="hadding">
            <h1 class="text-white">Questions fréquentes sur les <br> <span class="rectangle-red"> ASBL en Belgique </span> </h1>
          </div>
        </div>
      </div>
      <div class="space40"></div>
      <div class="row align-items-center">
        <div class="col-md-6">

          <div class="service-details-img img-border">
            <img src="../../assets/img/image/service-faq.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="hadding hadding-p space-sm-30">
            <h2 class="text-white">L’ASBL peut-elle exercer une activité commerciale ? </h2>
            <p class="text-white">Oui, mais uniquement si cette activité sert à financer le but social de l’association. Les bénéfices doivent être réinvestis dans la mission et non redistribués.</p>
          </div>
          <div class="space20"></div>
          
  <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header active-header" id="headingOne">
                      <button class="accordion-button accordion-button-active" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        L’ASBL peut-elle exercer une activité commerciale ?
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        Oui, mais uniquement si cette activité sert à financer le but social de l’association. Les bénéfices doivent être réinvestis dans la mission et non redistribués.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Comment suivre efficacement les coûts par projet ?
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        Grâce à la comptabilité analytique, nous répartissons précisément les frais directs et généraux pour justifier vos demandes de subsides et optimiser vos ressources. 
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Pourquoi surveiller les charges salariales ?
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        Les salaires représentent souvent un poste majeur des frais généraux. Une surveillance régulière aide à anticiper leur impact sur votre trésorerie.
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Prêt à optimiser la gestion de votre ASBL en Belgique ? 
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        📞 Contactez-nous dès aujourd’hui pour une consultation gratuite ! Demander un devis personnalisé 
                        
                      </div>
                    </div>
                  </div>
                </div>
        </div>
      </div>
    </div>
  </div>
</section>