<div class="contact-section">
  <div class="container contact-overlay">
    <div class="row align-items-center">
      <!-- Texte à gauche -->
      <div class="col-md-8 contact-text">
        <p class="text-uppercase font-weight-bold">Nos contacts</p>
        <h1>Prêt à optimiser vos <br> finances ?</h1>
        <p>Contactez-nous dès aujourd'hui pour une consultation personnalisée.<br> Nous sommes impatients de contribuer à votre succès financier.</p>
        <p>Votre avenir financier commence ici.</p>
        <div class="contact-button mt-4">
          <a href="#" class="btn btn-red">Contactez-nous</a>
          <a href="tel:+3228838686" class="btn btn-outline">+32 2 883 86 86</a>
        </div>
      </div>

      <!-- Formulaire à droite -->
      <div class="col-md-4 ml-auto">
        <div class="contact-form p-6">
          <h2>Formulaire de contact</h2>
          <p class=" mb-4">Remplissez le formulaire de contact et notre expert-comptable vous contactera dans les plus brefs délais par e-mail ou par téléphone.</p>
          <form>
            <div class="form-row">
              <div class="row mb-4">
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" placeholder="Nom & Prénom">
                </div>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" placeholder="Téléphone">
                </div>
              </div>

              <div class="row mb-4">
                  <div class="form-group col-md-6">
                    <input type="email" class="form-control" placeholder="Email">
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" placeholder="Secteur d'activité">
                  </div>
              </div>
            </div>

            <div class="form-group mb-4">
              <textarea class="form-control" rows="3" placeholder="Votre message"></textarea>
            </div>
            <button type="submit" class="btn btn-primary-custom">Envoyer</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
