.top-bar {
  background-color: #25335b; /* Dark blue background */
  color: white;
  padding: 15px 0;
  width: 100%;
}
.top-bar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s ease;
}
.top-bar a:hover {
  color: #F34947;
}
i{
  color: #F34947;
  margin-right: 5px;
}
.top-bar .social-icons i {
  font-size: 20px;
}
.top-bar .contact-info {
  font-size: 14px;
}
.social-section, .contact-section {
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .top-bar .container {
    flex-direction: column;
    gap: 10px;
  }
  .top-bar {
    padding: 10px 0;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}
@media (max-width: 768px) {
  .top-bar {
    text-align: center;
    padding: 8px 0;
  }
  .social-section, .contact-section {
    flex-direction: column;
    gap: 5px;
  }
  .top-bar .social-icons {
    margin-top: 5px;
  }
  .contact-info span {
    display: block;
    margin: 5px 0;
  }
  .top-bar a {
    margin: 0 8px;
  }
  .top-bar .social-icons i {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
.top-bar{
  display: none;
}
}
