<div class="top-bar">
  <div class="container d-flex justify-content-between align-items-center">

    <!-- Section des réseaux sociaux -->
    <div class="d-flex align-items-center">
      <p class="mb-0 me-2">Suivez-nous sur:</p> <!-- Ajuste l'espacement à droite du texte -->
      <div class="social-icons d-flex">
        <a href="#" class="text-white me-3"><i class="fab fa-facebook"></i></a>
        <a href="#" class="text-white me-3"><i class="fab fa-linkedin"></i></a>
        <a href="#" class="text-white me-3"><i class="fab fa-youtube"></i></a>
      </div>
    </div>

    <!-- Section des informations de contact -->
    <div class="contact-info d-flex align-items-center">
      <span class="me-3"><i class="fas fa-map-marker-alt"></i> 20 Rue de la Magnanerie, 1180 Uccle</span>
      <span><i class="fas fa-envelope"></i> <a href="mailto:info@mfinances.be" class="text-white">infomfinances.be</a></span>
    </div>

  </div>
</div>
