<div class="contact-section">
    <div class="container contact-overlay">
      <div class="row align-items-center">
        <!-- Texte à gauche -->
        <div class="col-md-8 contact-text">
          <p class="text-uppercase font-weight-bold">Prendre Contact</p>
          <h1>Prêt à optimiser vos <br> finances ?</h1>
          <p>Contactez-nous dès aujourd'hui pour une consultation personnalisée.<br> 
             Nous sommes impatients de participer à votre succès financier.</p>
          <!-- <p>Avec le code promo bénéficiez jusqu'à <strong class="text-red">400 Euros</strong> de réduction</p> -->
      
          <div class="contact-button mt-4">
              <a href="/contact" class="btn btn-red">Contactez-nous</a>
              <a href="tel:+3228838686" class="btn btn-outline">+32 2 883 86 86</a>
          </div>
      </div>
      
  
        <!-- Formulaire à droite -->
        <div class="col-md-4 ml-auto">
          <div class="contact-form p-6">
              <h2>Commandez votre étude personnalisée</h2>
              <p class="mb-4">Recevez une analyse claire et des recommandations adaptées à votre situation.</p>
              <form>
                  <div class="form-group mb-4">
                      <label for="studyType">Choisissez votre étude :</label>
                      <select id="studyType" class="form-control" required>
                          <option value="">-- Sélectionnez une étude --</option>
                          <option value="passage_societe">Passage en société - Évaluation du gain</option>
                          <option value="compte_courant">Compte courant admin. - Comment le résorber ?</option>
                          <option value="tresorerie">Améliorer votre trésorerie</option>
                      </select>
                  </div>
      
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group mb-4">
                              <input type="text" class="form-control" placeholder="Nom & Prénom" required>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group mb-4">
                              <input type="email" class="form-control" placeholder="Email" required>
                          </div>
                      </div>
                  </div>
      
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group mb-4">
                              <input type="text" class="form-control" placeholder="Numéro de téléphone">
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group mb-4">
                              <input type="text" class="form-control" placeholder="Code Promo">
                          </div>
                      </div>
                  </div>
      
                  <div class="form-group mb-4">
                      <textarea class="form-control" rows="3" placeholder="Décrivez brièvement votre situation"></textarea>
                  </div>
      
                  <button type="submit" class="btn btn-primary-custom">Envoyer</button>
                  <div class="mt-3">
                    <p>Planifier un rendez-vous en ligne pour un premier debriefing<a href="https://calendly.com/mfinances/rdv-client-en-teleconference?preview_source=et_card" 
                      target="_blank" class="red font-weight-bold">
                       Cliquez ici pour réserver un rendez-vous
                   </a></p>
                  </div>
                 
              </form>
          </div>
      </div>
      
      </div>
    </div>
  </div>
  